body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
  background-position: fixed; 
}

a {
  color: #00B7FF;
  text-decoration: none;
  font-size: 20px;
}

.hola
{
	width: 100%;
	background-color: blue; 
}

nav
{
	text-align: center;
	padding: 15px;
}

.content
{
}

span
{
	padding: 30px;
}