extends layout

block content

	.container

		nav <a href="https://packagecontrol.io/packages/Jade" title="Photo" target="_blank"><span>Photo</span></a>
				<a href="https://packagecontrol.io/packages/Jade" title="Home"><span>Home</span></a>
				<a href="https://packagecontrol.io/packages/Jade" title="About"><span>About</span></a>
				<a href="contacto.jade" title="Contact"><span>Contact</span></a>

		.content
		<img src="../images/fondo.jpg" width="100%" align="center">
			


